

aside {
    width:40%;
    padding:15px;
    margin-right: 5px;
    float:right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: antiquewhite;
}

p.new {

    color: #ff6347;
    background-color: #f0f;
    text-align: center;
    border: 2px solid red;

}
p.one {
    font-size: 399%;
    color:#fc9;
    border: 2px solid blue;

}

h1#redo {
    background-color: hsl(110,80%,100%);
    color: rgb(0, 0, 255);
    border: 2px solid rgb(179, 140, 23);
}

.lorem {
    background-color: #ff6347;
}
.lorem p {
    background-color: rgba(143, 21, 222, 0.7);
   
}

/*BORDer*/

.dotted {
    
    border-style: dotted dashed solid double;
    border-bottom-style: solid;
   
    border-width: 3px;
    border-color: red grey purple yellow;
    border-radius: 5px;
}
.dashed {
    border-style: dashed dotted solid;
    border-width: thick;
    border-color: #34abff;
}
.solid {
    border-style: solid dotted;
    border-width: 3px 6px 6px 12px;
    border-color: rgba(143, 21, 222, 0.7);

}
.double {
    border-left: 6px double red;
    border-right: 8px dashed blue;
    border-bottom: 6px solid grey;
    border-top: 8px dashed blue;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

    


}
.groove {
    border-left: 6px dashed green;
}
.ridge {
    border-style: ridge;
}
.inset {
    border-style: inset;
}
.outset {
    border-style: outset;
}
.none {
    border-style: none;
}
.mix {
    border-style: dotted dashed double solid;
}